# ==========================================
# Variáveis de Ambiente - Help (Backend)
# ==========================================

# Banco de Dados PostgreSQL
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/postgres?sslmode=prefer
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=sua_senha_aqui

# E-mail (SMTP)
SPRING_MAIL_HOST=smtp.gmail.com
SPRING_MAIL_PORT=465
SPRING_MAIL_USERNAME=suportesistemahelp@gmail.com
SPRING_MAIL_PASSWORD=sua_senha_de_app_aqui

# Autenticação JWT (Chave com no mínimo 32 caracteres)
JWT_SECRET=sua_chave_secreta_jwt_de_pelo_menos_32_caracteres

# Integração Mercado Pago
MERCADOPAGO_ACCESS_TOKEN=SEU_TOKEN
